*{
    margin: 0;
    padding: 0;
}

.coin-detail{
    
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    
  }
  .coin-info{
    background-color: #000000;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    
  }
  .time{
      font-weight: bold;
  }
  
  .coin-image img{
      margin-top: 60px;
  }
  
  .coin-name{
      font-weight: bold;
      font-size: 27px;
      margin-top: 50px;
  }
  .coin-price{
      font-weight: bold;
      font-size: 22px;
      margin-top: 10px;
  }
  .coin-profit{
      margin-top: 10px;
      margin-left: 7px;
  }
  
  .market-rank{
      font-weight: bold;
      font-size: 27px;
      margin-top: 20px;
      margin-left: 5px;
  }
  
  .coin-desc p{
      margin-top: 25px;
      margin-bottom: 25px;
     
  }
  
  
  button{
      height: 2rem;
      background-color: orange;
      border: none;
      width: 5rem;
      border-radius: 10px;
      font-weight: bold;
      margin-bottom: 30px;
      margin-left: 10px;
      cursor: pointer;
  }


  .graphContainer{
    flex:1;
  }