.chart {
    width: 100%; 
    height: 60vh;
    margin: 0 auto; 
    margin-top: 5rem;  
    display: flex;
    flex-direction: column;
 
    align-items: center;
}

.graphHeading{
    margin-top: 0;
    margin-bottom: 50px;
}
.buttons{
    margin-top: 1rem;
}
  
  @media (max-width: 768px) {
    .chart {
      height: 30vh; 
    }
  }